In [59]:
import os
import wget
import sys
import json
import pandas as pd
import requests
import base64
import numpy as np

In [2]:
# Get a request fulfilled
wget.download('https://opentdb.com/api.php?amount=10&category=17&difficulty=easy&type=multiple', out='trivia_test.json')

'trivia_test.json'

In [11]:
df = pd.read_json('trivia_test.json', orient='values')

In [12]:
df

   response_code                                            results
0              0  {'category': 'Science & Nature', 'type': 'mult...
1              0  {'category': 'Science & Nature', 'type': 'mult...
2              0  {'category': 'Science & Nature', 'type': 'mult...
3              0  {'category': 'Science & Nature', 'type': 'mult...
4              0  {'category': 'Science & Nature', 'type': 'mult...
5              0  {'category': 'Science & Nature', 'type': 'mult...
6              0  {'category': 'Science & Nature', 'type': 'mult...
7              0  {'category': 'Science & Nature', 'type': 'mult...
8              0  {'category': 'Science & Nature', 'type': 'mult...
9              0  {'category': 'Science & Nature', 'type': 'mult...

AttributeError: 'str' object has no attribute 'read'

In [71]:
def build_request(nQs, category, difficulty, q_type = 'multiple'):
    
    s = f'https://opentdb.com/api.php?amount={nQs}&category={category}&difficulty={difficulty}&type={q_type}&encode=base64'
    
    return s

In [72]:
build_request(4, 15, 'medium')

'https://opentdb.com/api.php?amount=4&category=15&difficulty=medium&type=multiple&encode=base64'

In [155]:
res = requests.get('https://opentdb.com/api.php?amount=10&difficulty=medium&type=boolean&encode=base64')

In [156]:
data = res.json()

In [157]:
data

{'response_code': 0,
 'results': [{'category': 'U2NpZW5jZSAmIE5hdHVyZQ==',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'VGhlIE5lYW5kZXJ0aGFscyB3ZXJlIGEgZGlyZWN0IGFuY2VzdG9yIG9mIG1vZGVybiBodW1hbnMu',
   'correct_answer': 'RmFsc2U=',
   'incorrect_answers': ['VHJ1ZQ==']},
  {'category': 'RW50ZXJ0YWlubWVudDogTXVzaWM=',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'UmFwcGVyIFNub29wIERvZ2cncyByZWFsIG5hbWUgaXMgJ0NvcmRvemFyIENhbHZpbiBCcm9hZHVzLCBKci4nLg==',
   'correct_answer': 'VHJ1ZQ==',
   'incorrect_answers': ['RmFsc2U=']},
  {'category': 'U2NpZW5jZSAmIE5hdHVyZQ==',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'VGhlICJHeW1waWUgU3RpbmdlciIgaXMgdGhlIGRlYWRsaWVzdCBwbGFudCBpbiB0aGUgd29ybGQu',
   'correct_answer': 'RmFsc2U=',
   'incorrect_answers': ['VHJ1ZQ==']},
  {'category': 'RW50ZXJ0YWlubWVudDogTXVzaWM=',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'U2NvdHRpc2ggcHJvZHVjZXIgQ2FsdmluIEhhcnJpcyBpcyBmcm9tIHRoZSB0b3duIG9mIER1bWZyaWVzLCBTY290bGFuZC4=',
   'correct_answer': 'VHJ1ZQ==',
   'incorrect_answers': ['RmFsc2U=']},
  {'category': 'R2VuZXJhbCBLbm93bGVkZ2U=',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'VGhlIHdvcmQgIm5ld3MiIG9yaWdpbmF0ZXMgZnJvbSB0aGUgZmlyc3QgbGV0dGVycyBvZiB0aGUgNCBtYWluIGRpcmVjdGlvbnMgb24gYSBjb21wYXNzIChOb3J0aCwgRWFzdCwgV2VzdCwgU291dGgpLg==',
   'correct_answer': 'RmFsc2U=',
   'incorrect_answers': ['VHJ1ZQ==']},
  {'category': 'R2VuZXJhbCBLbm93bGVkZ2U=',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'VGhlIHRlcm0gIlNwYW0iIGNhbWUgYmVmb3JlIHRoZSBmb29kIHByb2R1Y3QgIlNwYW0iLg==',
   'correct_answer': 'RmFsc2U=',
   'incorrect_answers': ['VHJ1ZQ==']},
  {'category': 'QW5pbWFscw==',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'VGhlIGF2ZXJhZ2UgbGlmZXNwYW4gb2YgYSB3aWxkY2F0IGlzIG9ubHkgYXJvdW5kIDUtNiB5ZWFycy4g',
   'correct_answer': 'RmFsc2U=',
   'incorrect_answers': ['VHJ1ZQ==']},
  {'category': 'VmVoaWNsZXM=',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'VGhlIEdlbmVyYWwgTW90b3JzIEVWMSB3YXMgdGhlIGZpcnN0IHN0cmVldC1sZWdhbCBwcm9kdWN0aW9uIGVsZWN0cmljIHZlaGljbGUu',
   'correct_answer': 'RmFsc2U=',
   'incorrect_answers': ['VHJ1ZQ==']},
  {'category': 'RW50ZXJ0YWlubWVudDogQ2FydG9vbiAmIEFuaW1hdGlvbnM=',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'U25hZ2dsZXB1c3Mgd2FzIHBhcnQgb2YgdGhlIFlvZ2kgWWFob29pZXMgaW4gdGhlIDE5Nzcgc2hvdyBTY29vYnkncyBBbGwtU3RhciBMYWZmLWEtTHltcGljcy4=',
   'correct_answer': 'RmFsc2U=',
   'incorrect_answers': ['VHJ1ZQ==']},
  {'category': 'VmVoaWNsZXM=',
   'type': 'Ym9vbGVhbg==',
   'difficulty': 'bWVkaXVt',
   'question': 'VGhlIHNub3dtb2JpbGUgd2FzIGludmVudGVkIGJ5IENhbmFkaWFuIEpvc2VwaC1Bcm1hbmQgQm9tYmFyZGllciBpbiAxOTM3Lg==',
   'correct_answer': 'VHJ1ZQ==',
   'incorrect_answers': ['RmFsc2U=']}]}

In [158]:
base64.decodebytes(data['results'][4]['type'].encode())

b'boolean'

In [ ]:


for i in range(10):
    
    print(base64.decodebytes(data['results'][i]['question'].encode()).decode())
    answers = np.array([data['results'][i]['correct_answer']] + data['results'][i]['incorrect_answers'])
    answers = answers[np.random.permutation(len(answers))]
    corr_ans = data['results'][i]['correct_answer']
    for ans in answers:
        print((base64.decodebytes(ans.encode())))
    print("correct ", base64.decodebytes(corr_ans.encode()))

In [84]:
a = np.array(answers)
a = a[np.random.permutation(4)]

In [85]:
a

array(['Q2FybG9zIFNhaW56IEpyLg==', 'Sm9seW9uIFBhbG1lcg==',
       'UmlvIEhhcnlhbnRv', 'RGFuaWlsIEt2eWF0'], dtype='<U24')

In [77]:
res = requests.get('https://opentdb.com/api_token.php?command=request')

In [78]:
res

In [79]:
requests.get('https://opentdb.com/api_category.php')

In [88]:
cats = list(np.arange(9,31)) + [32]

In [120]:
categories = np.random.choice(cats, size = 26)

In [138]:
res = requests.get('https://opentdb.com/api_token.php?command=request')

In [111]:
res.content.decode().split(':')[-1][:-1].strip('"')

'a311199ca9bd11abcf119875e44a9dccd6c1ba944f85c43a2986762f2ac5938e'

In [140]:
res.json()['token']

'9be817aa2d1b0166a5e0f06c005103d8e84eeed465ead3d4324dacd52659669e'

In [119]:
assert (26-2)%5 == 0, "Number of questions minus 2 bonus questions isn't evenly divided into 4 rounds"

AssertionError: Number of questions minus 2 bonus questions isn't evenly divided into 4 rounds

In [126]:
qs_per_rd = int((26-2)/4)

In [135]:
rounds = []
rounds.append(categories[:qs_per_rd])
rounds.append(categories[qs_per_rd:(2*qs_per_rd)+1])
rounds.append(categories[(2*qs_per_rd)+1:(3*qs_per_rd)+1])
rounds.append(categories[(3*qs_per_rd)+1:])

In [136]:
len(rounds)

4

In [137]:
np.random.choice(['medium', 'hard'])

'medium'

In [159]:
import time

def countdown(t):
    while t:
        mins, secs = divmod(t, 60)
        timeformat = '{:02d}:{:02d}'.format(mins, secs)
        print(timeformat, end='\r')
        time.sleep(1)
        t -= 1
    print('Goodbye!\n\n\n\n\n')

In [160]:
countdown(3)

Goodbye!